/* top of page */
*{
    padding: 0;
    margin: 0;
}
/* background of page */
.container{
    font-size: 36px;
    flex-direction: column;
    position: relative;
}
.container::before{
    content: "";
    background: url('https://source.unsplash.com/user/erondu/1600x900');
    position: absolute;
    opacity:0.4;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* main heading */
#main h1{
    text-align: center;
    padding-top: 5px;
    font-size: 3.5rem;
    font-family: 'Baloo Bhai 2', cursive;
    
}
#main p{
    margin-left:8px;
    align-content: flex-start;
    justify-content: left;
    font-size: 1.2rem;
    font-family: 'Baloo Bhai 2', cursive;
}
/* game buttons */
#rock,#paper,#scissor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    height: 80px;
    width: 400px;
    margin: 22px 6px;
    padding: 4px 2px;
    border-radius: 18px;
    border: 2px solid black;
    font-size: 2.1rem;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    color:white;
    border-radius: 20px;
}
/* scoreboard */
table th{
    text-align: center;
}
table,tr,td,th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 4px 4px;
    width:26%;
    margin-left: 8px;
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
}
/* copyright */
footer{
    margin-top: 25px;
    text-align: center;
    font-size: 1.4rem;
    background-color: cadetblue;

}